*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main{
    width: 500px;
    background-color: #29465B;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
}
.my-todo{
    color: whitesmoke;
}
.add input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 15px;
    font-size: medium;
    color: whitesmoke;
    border: 2px solid black;
    background-color: #123447;
    outline: none;
}
.add-button{
    height: 50px;
    width: 80px;
    background-color: cadetblue;
    color: whitesmoke;
    font-size: medium;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}
.add-button:hover{
    transform: translateX(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #35617d;
}
.todos{
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: rgb(17, 130, 134);
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.todos .cancel-button{
    height: 25px;
    width: 25px;
    background-color: rgb(9, 92, 95);
    color: whitesmoke;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}

.todos:hover{
    background-color: #35617d;
    transform: translateX(-3px);
    box-shadow: 0 0 15px rgba(0, 5px, 0, 0.3);
}


